@font-face {
  font-family: "Sobiscuit";
  src: url("/public/fonts/Sobiscuit.otf") format("opentype");
}
@font-face {
  font-family: "Simply Rounded";
  src: url("/public/fonts/Simply Rounded.ttf") format("truetype");
}
body {
  font-family: "Simply Rounded", sans-serif;
  margin: 0;
  overflow: hidden;
  cursor: url("/public/images/tete.svg"), auto;
}

.logo {
  width: 30vw;
}

.btn--classement{
  visibility: hidden;
}
a {
  cursor: url("/public/images/main.svg"), pointer;
  color: #313131;
}
a:visited {
  color: #313131;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/public/images/bg.svg");
  background-size: cover;
  overflow: hidden;
  width: 100vw;
}
.home .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  width: 97%;
  height: 95%;
}
.home .container__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex-direction: column-reverse;
}
.home .container .choix-langue {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  height: 100px;
}
.home .container .choix-langue .lang-icon {
  height: 40px;
}
.home .container .choix-langue .level-switch {
  display: flex;
  width: 60px; /* Ajustez la largeur selon vos besoins */
  height: 30px; /* Ajustez la hauteur selon vos besoins */
  background-color: #F7FAF7;
  border-radius: 15px;
  cursor: url("/public/images/main.svg"), auto;
}
.home .container .choix-langue .language-switch {
  position: relative;
  width: 60px;
  height: 30px;
  background-color: #F7FAF7;
  border: 3px solid #313131;
  border-radius: 15px;
  cursor: url("/public/images/main.svg"), auto;
}
.home .container .choix-langue .language-switch .switch {
  width: 20px;
  height: 21px;
  background-color: #313131;
  border: 1px solid #F7FAF7;
  border-radius: 50%;
  transition: left 0.3s ease;
  margin-top: 1px;
}
.home .container .choix-langue .language-switch .switch-en {
  left: 55%;
}
.home .container .choix-langue .language-switch .switch-fr {
  left: 5%;
}
.home .container__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex-direction: column-reverse;
}
.home .container__middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 30px;
}
.home .container__middle .ensemble-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .container__middle .ensemble-logo .logo-frog {
  width: 200px;
}
.home .container__middle .ensemble-logo .logo-froggy {
  width: 500px;
}
.home .container__middle__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 10vw;
}
.home .container__middle .form-select {
  appearance: none;
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: 90% center;
  color: #F7FAF7;
  text-align: center;
  font-size: x-large;
  background-color: #8CCF57;
  box-shadow: 0 4px 0 0 #4c8b25;
  border-radius: 15px;
  border: none;
}
.home .container__middle .form-select:hover {
  transform: scale(1.03);
  background-color: #8CCF57;
  box-shadow: 0 4px 0 0 #4c8b25;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("/public/images/bg-login.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.login .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 97%;
  height: 95%;
}
.login .container__top {
  height: 100px;
  width: 94%;
}
.login .container__middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.login .container__middle .ensemble-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login .container__middle .ensemble-logo .logo-frog {
  width: 200px;
}
.login .container__middle .ensemble-logo .logo-froggy {
  width: 500px;
}
.login .container__middle .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.login .container__bottom {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
  justify-content: space-between;
}

.jeux {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("/public/images/background-niv-facile.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.jeux--moyen {
  background-image: url("/public/images/background-niv-inter.jpg");
}
.jeux--difficile {
  background-image: url("/public/images/background-niv-diff.jpg");
}
.jeux .container {
  display: flex;
  flex-direction: row;
  height: 95%;
  width: 97%;
}
.jeux .container__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  justify-content: end;
  width: 22vw;
  gap: 20px;
}
.jeux .container__left .explain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 60vh;
  max-width: 80vh;
  width: 13vw;
  min-width: 160px;
  padding: 3% 4%;
  border: 10px solid #4c8b25;
  border-radius: 25px;
  background-color: #DBFFD5;
  font-size: 1.5em;
  color: #4c8b25;
}
.jeux .container__left .explain .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.jeux .container__left .explain .row img {
  height: 50px;
}
.jeux .container__left .explain--moyen {
  background-color: #fff0d2;
  border-color: #ECA438;
  color: #ECA438;
}
.jeux .container__left .explain--difficile {
  background-color: #ffe8e3;
  border-color: #CB664D;
  color: #CB664D;
}
.jeux .container__left .explain .FroggyDesc {
  font-family: "Sobiscuit", sans-serif;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  padding: 0;
  margin: 0;
}
.jeux .container__middle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: max-content;
  padding-left: 5vw;
}
.jeux .container__middle--moyen {
  padding: 0;
  margin-right: 10vw;
}
.jeux .container__middle--difficile {
  padding: 0;
  margin-right: 10vw;
}
.jeux .container__middle .grid--moyen {
  transform: scale(0.9);
}
.jeux .container__middle .grid--difficile {
  transform: scale(0.7);
}
.jeux .container__right {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0 3%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.jeux .container__right .timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 180px;
  padding: 1% 3%;
  gap: 10px;
}
.jeux .container__right .timer p {
  font-size: 2.5em;
  font-family: "Simply Rounded", sans-serif;
  margin: 0 0;
  min-width: 120px;
  max-width: 120px;
}
.jeux .container__right .timer--moyen p {
  color: #ECA438;
}
.jeux .container__right .timer--difficile p {
  color: #CB664D;
}

.victory--green {
  background-color: #DBFFD5;
  border: 10px solid #4c8b25;
  color: #4c8b25;
}
.victory--orange {
  background-color: #fff0d2;
  border: 10px solid #ECA438;
  color: #ECA438;
}
.victory--red {
  background-color: #ffe8e3;
  border: 10px solid #CB664D;
  color: #CB664D;
}
.victory .confirmation-pseudo {
  display: none;
}

#victory {
  display: none;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#victory #vic-text {
  font-family: "Sobiscuit", sans-serif;
  font-size: 60px;
  text-align: center;
  margin: 0;
}
#victory .light-vert-p {
  color: #4c8b25;
}
#victory .separation {
  position: relative;
  margin-bottom: 5px;
  height: 10px;
  width: 224px;
  border-radius: 100px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2509803922);
}
#victory .separation--green {
  background-color: #4c8b25;
}
#victory p {
  text-align: center;
}
#victory button {
  width: auto;
  height: auto;
  margin: 5px;
  padding: 10px 50px;
}

.classement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url("/public/images/bg-classement.svg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.classement--green {
  background-image: url("/public/images/bg-classement.svg");
}
.classement--yellow {
  background-image: url("/public/images/bg-classement-yellow.svg");
  color: #fff0d2;
}
.classement--yellow .title h1 {
  color: #fbb03a;
  text-shadow: 0.05em 0.05em 0em #ECA438;
}
.classement--yellow .title .green-bar {
  background-color: #ECA438;
}
.classement--yellow .btn--green {
  background-color: #fbb03a;
  box-shadow: inset -0.1875rem -0.1875rem #ECA438;
}
.classement--yellow .btn--green:hover, .classement--yellow .btn--green:focus {
  box-shadow: inset 0.125em 0.125em #ECA438;
  background-color: darker(#fbb03a);
}
.classement--yellow .tableau {
  background-color: #fbb03a;
}
.classement--yellow .tableau table {
  background-color: #fbb03a;
  border: 1px solid #fbb03a;
}
.classement--yellow .tableau table thead {
  background-color: #fbb03a;
}
.classement--yellow .tableau table thead th {
  text-shadow: 0.05em 0.05em 0em #ECA438;
}
.classement--red {
  background-image: url("/public/images/bg-classement-red.svg");
  color: #ffe8e3;
}
.classement--red .title h1 {
  color: #ec866f;
  text-shadow: 0.05em 0.05em 0em #CB664D;
}
.classement--red .title .green-bar {
  background-color: #CB664D;
}
.classement--red .btn--green {
  background-color: #ec866f;
  box-shadow: inset -0.1875rem -0.1875rem #CB664D;
}
.classement--red .btn--green:hover, .classement--red .btn--green:focus {
  box-shadow: inset 0.125em 0.125em #CB664D;
  background-color: darker(#ec866f);
}
.classement--red .tableau {
  background-color: #ec866f;
}
.classement--red .tableau table {
  background-color: #ec866f;
  border: 1px solid #ec866f;
}
.classement--red .tableau table thead {
  background-color: #ec866f;
}
.classement--red .tableau table thead th {
  text-shadow: 0.05em 0.05em 0em #CB664D;
}
.classement .container {
  display: flex;
  flex-direction: row;
  height: 95%;
  width: 97%;
}
.classement .container__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.classement .container__middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-right: 8vw;
}
.classement .container__middle .niveau {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 35vw;
}

.mentions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url("/public/images/bg.svg");
  background-size: cover;
  overflow: hidden;
}
.mentions .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 95%;
  width: 97%;
}
.mentions .container__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex-direction: column-reverse;
}
.mentions .container__middle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3%;
}
.mentions .container__middle .text {
  background-color: rgba(247, 250, 247, 0.7);
  padding: 1% 3%;
  color: #313131;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mentions .container__middle .text .text-ab .titre {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.mentions .container__middle .text .text-ab p {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 100;
}
.mentions .container h1 {
  margin-top: 0.1%;
}
.mentions .container .text-center {
  text-align: center;
}
.mentions .back {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  height: 50px;
}

.profil {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url("/public/images/background-profil.jpg");
  background-size: cover;
  overflow: hidden;
}
.profil .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 95%;
  width: 97%;
}
.profil .container__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.profil .container__middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10vh;
  width: 70vw;
}
.profil .container__middle h1 {
  color: #2BA9E1;
  text-shadow: 0.05em 0.05em 0em #228AB9;
}

/* Bouton langue */
.level-switch {
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px; /* Ajustez la largeur selon vos besoins */
  height: 30px; /* Ajustez la hauteur selon vos besoins */
  background-color: #ccc;
  border-radius: 15px;
  cursor: url("/public/images/main.svg"), auto;
}

.switch {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
  transition: left 0.3s ease;
}
.switch-en {
  left: 0;
}
.switch-fr {
  left: 50%;
}

/* Fin bouton langue */
/* Bouton Son Grenouille */
.no-btn {
  border: none;
  background: none;
}
.no-btn:hover {
  cursor: url("/public/images/main.svg"), pointer;
}
.no-btn--timer {
  height: 50px;
  width: 50px;
  background-image: url("/public/images/no-btn-timer-vert.svg");
  background-size: cover;
}
.no-btn--timer--orange {
  background-image: url("/public/images/no-btn-timer-jaune.svg");
}
.no-btn--timer--red {
  background-image: url("/public/images/no-btn-timer-rouge.svg");
}
.no-btn--sound {
  height: 30px;
  min-width: 30px;
  width: auto;
  max-width: 50px;
  transform: scale(1.3);
  margin-right: 1%;
  background-image: url("/public/images/son_vert.svg");
  background-size: cover;
}
.no-btn--sound--orange {
  background-image: url("/public/images/son_orange.svg");
}
.no-btn--sound--red {
  background-image: url("/public/images/son_rouge.svg");
}
.no-btn--sound--play {
  background-image: url("/public/images/son_vert.svg");
  background-size: cover;
}
.no-btn--sound--play--yellow {
  background-image: url("/public/images/son_orange.svg");
}
.no-btn--sound--play--red {
  background-image: url("/public/images/son_rouge.svg");
}
.no-btn--sound--pause {
  background-image: url("/public/images/no-son_vert.svg");
}
.no-btn--sound--pause--yellow {
  background-image: url("/public/images/no-son_orange.svg");
}
.no-btn--sound--pause--red {
  background-image: url("/public/images/no-son_rouge.svg");
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #5FAE30;
  border-top: none;
  border-radius: 0 0 5px 5px;
  z-index: 1000;
}

.option {
  padding: 8px 12px;
  cursor: url("/public/images/main.svg"), auto;
}

.option:hover {
  background-color: #4c8b25;
}

@font-face {
  font-family: "Sobiscuit";
  src: url("/public/fonts/Sobiscuit.otf") format("opentype");
}
@font-face {
  font-family: "Simply Rounded";
  src: url("/public/fonts/Simply Rounded.ttf") format("truetype");
}
@font-face {
  font-family: "Sobiscuit";
  src: url("/public/fonts/Sobiscuit.otf") format("opentype");
}
@font-face {
  font-family: "Simply Rounded";
  src: url("/public/fonts/Simply Rounded.ttf") format("truetype");
}
a .btn {
  color: #F7FAF7;
}
a .btn:visited {
  color: #F7FAF7;
  text-decoration: none;
}

.btn {
  padding: 2% 2%;
  font-family: "simply rounded", sans-serif;
  font-size: 1.5em;
  color: #F7FAF7;
  background-color: #F7FAF7;
  border: none;
  border-radius: 10px;
  width: auto;
  box-shadow: inset 0px 2px 0px 1px #313131;
}
.btn:hover, .btn:focus {
  transition: box-shadow 0.1s ease-in;
  transform: translate(0, 0.025em);
  box-shadow: inset 0.125em 0.125em #4c8b25;
  background-color: darker(#8CCF57);
}
.btn:hover {
  transform: translate(0, 0.025em);
  box-shadow: inset 0px 2px 0px 1px #313131;
  cursor: url("/public/images/main.svg"), auto;
}
.btn--facile {
  background-color: #8CCF57;
  box-shadow: inset -0.1875rem -0.1875rem #4c8b25;
}
.btn--facile:hover, .btn--facile:focus {
  box-shadow: inset 0.125em 0.125em #4c8b25;
}
.btn--moyen {
  background-color: #fbb03a;
  box-shadow: inset -0.1875rem -0.1875rem #ECA438;
}
.btn--moyen:hover, .btn--moyen:focus {
  box-shadow: inset 0.125em 0.125em #ECA438;
}
.btn--difficile {
  background-color: #ec866f;
  box-shadow: inset -0.1875rem -0.1875rem #CB664D;
}
.btn--difficile:hover, .btn--difficile:focus {
  box-shadow: inset 0.125em 0.125em #CB664D;
}
.btn--green {
  background-color: #8CCF57;
  box-shadow: inset -0.1875rem -0.1875rem #4c8b25;
  border: none;
  color: #F7FAF7;
  transition: box-shadow 0.1s ease-out;
}
.btn--green--yellow {
  background-color: #fbb03a;
  box-shadow: inset -0.1875rem -0.1875rem #ECA438;
}
.btn--green--yellow:hover, .btn--green--yellow:focus {
  box-shadow: inset 0.125em 0.125em #ECA438;
}
.btn--green--red {
  background-color: #ec866f;
  box-shadow: inset -0.1875rem -0.1875rem #CB664D;
}
.btn--green--red:hover, .btn--green--red:focus {
  box-shadow: inset 0.125em 0.125em #CB664D;
}
.btn--green:hover, .btn--green:focus {
  transition: box-shadow 0.1s ease-in;
  transform: translate(0, 0.025em);
  box-shadow: inset 0.125em 0.125em #4c8b25;
  background-color: darker(#8CCF57);
}
.btn--green i {
  font-size: 0.8em;
}
.btn--blue {
  background-color: #2BA9E1;
  box-shadow: inset -0.1875rem -0.1875rem #228AB9;
  border: none;
  color: #F7FAF7;
  transition: box-shadow 0.1s ease-out;
}
.btn--blue:hover, .btn--blue:focus {
  transition: box-shadow 0.1s ease-in;
  transform: translate(0, 0.025em);
  box-shadow: inset 0.125em 0.125em #228AB9;
  background-color: darker(#2BA9E1);
}
.btn--blue i {
  font-size: 0.8em;
}
.btn--dark-green {
  background-color: #4c8b25;
  box-shadow: 0em 0.13em 0em 0em #5FAE30;
  border: none;
  color: #F7FAF7;
}
.btn--dark-green i {
  font-size: 0.8em;
}
.btn--round {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vw;
  width: 5vw;
  border-radius: 100%;
  min-height: 75px;
  min-width: 75px;
}
.btn--round img {
  max-width: 40px;
}
.btn--select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  gap: 10px;
}
.btn--select img {
  height: 20px;
  width: auto;
}

.underline {
  text-decoration: underline;
}

.logo-bg-white {
  height: 75px;
  width: 75px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-bg-white img {
  width: 100%;
}

body {
  position: relative;
}
body .at-bottom {
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
}

.title {
  height: fit-content;
  width: max-content;
  text-align: center;
}
.title h1 {
  font-size: 3em;
  font-family: "sobiscuit", sans-serif;
  color: #8CCF57;
  text-shadow: 0.05em 0.05em 0em #4c8b25;
  margin: 0 20px;
}
.title .green-bar {
  display: flex;
  background-color: #4c8b25;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  height: 10px;
  width: 100%;
  margin-top: 10px;
}
.title .green-bar--blue {
  background-color: #228AB9;
  color: #2BA9E1;
}

.color-black {
  color: #313131;
}

a:visited {
  color: #313131;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: 3% 2% 3% 2%;
  margin-bottom: 10%;
}
form input {
  width: 90%;
  height: 30px;
  background-color: #F7FAF7;
  padding: 0% 3%;
  margin: 2% 0;
  border: none;
  border-radius: 8px;
  font-family: "Simply Rounded", sans-serif;
}
form .inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form .inputs input {
  width: 90%;
  height: 30px;
  background-color: #F7FAF7;
  padding: 0% 3%;
  margin: 2% 0;
  border: none;
  border-radius: 8px;
  font-family: "Simply Rounded", sans-serif;
}
form .inputs ::placeholder {
  display: flex;
  color: #8CCF57;
  font-size: 20px;
}

.tableau {
  overflow-x: auto;
  max-width: 100%;
  max-height: 40vh;
  color: #F7FAF7;
  padding: 0 40px 10px 40px;
  border-radius: 20px;
}
.tableau table {
  max-width: 100%;
  max-height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.tableau table thead {
  position: sticky;
  top: 0;
  z-index: 1;
  font-size: 1.5em;
  height: 53px;
  padding: 50px 0 0 0;
}
.tableau table th,
.tableau table td {
  padding: 10px 20px;
  text-align: left;
  border: 1px solid transparent;
  text-align: center;
  font-size: 1.2em;
}
.tableau--green {
  background-color: #8CCF57;
}
.tableau--green table {
  background-color: #8CCF57;
  border: 1px solid #8CCF57;
}
.tableau--green table thead {
  background-color: #8CCF57;
  font-size: 1.5em;
}
.tableau--green table thead th {
  text-shadow: 0.05em 0.05em 0em #4c8b25;
}
.tableau--blue {
  background-color: #2BA9E1;
}
.tableau--blue table {
  background-color: #2BA9E1;
  border: 1px solid #2BA9E1;
}
.tableau--blue table thead {
  background-color: #2BA9E1;
}
.tableau--blue table thead th {
  text-shadow: 0.05em 0.05em 0em #228AB9;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.grid .row {
  display: flex;
}
.grid .container {
  margin: 5px;
  perspective: 1000px;
}
.grid .card {
  margin: 10px;
  width: 10.417vw;
  height: 10.417vw;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s;
}
.grid .card:hover {
  transform: scale(1.05);
  cursor: url("/public/images/main.svg"), auto;
}
.grid .card.active {
  transform: rotateY(180deg);
}
.grid .card.active:hover {
  transform: scale(1.05) rotateY(180deg);
}
.grid .front,
.grid .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}
.grid .front {
  transform: rotateY(0deg);
}
.grid .back {
  transform: rotateY(180deg);
}
.grid img {
  width: 100%;
  height: 100%;
}
.grid .btn-menu {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

/* Styles pour la scrollbar */
::-webkit-scrollbar {
  width: 15px;
  margin: 0;
}

::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 0%, 0.256);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 0%, 0%, 0.053);
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 0%, 0.411);
  border-radius: 10px;
}

::-webkit-scrollbar-track:hover {
  background: hsla(0, 0%, 0%, 0.411);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.vert {
  border: solid #8CCF57 10px;
}
.vert .separation {
  background-color: #8CCF57;
}

.dark-vert-p {
  color: #4c8b25;
}

.light-vert-p {
  color: #8CCF57;
}

.orange {
  border: solid #ECA438 10px;
}
.orange .separation {
  background-color: #fbb03a;
}

.dark-orange-p {
  color: #ECA438;
}

.orange-p {
  color: #fbb03a;
}

.rouge {
  border: solid #ec866f 10px;
}
.rouge .separation {
  background-color: #ec866f;
}

.rouge-p {
  color: #ec866f;
}

/*# sourceMappingURL=styles.css.map */
